<a href="/songs">Dashboard</a>
<a href="/logout">Logout</a>

<h2><%= @viewing.first_name %> <%= @viewing.last_name %>'s' Playlist</h2>

<% if @songs && @songs.length > 0 %>
    <table>
        <thead>
            <th>Artist</th>
            <th>Title</th>
            <th>Times Added</th>
        </thead>
        <tbody>
            <% @songs.each do |record| %>
                <tr>
                    <td><%= record.song.artist %></td>
                    <td><%= record.song.title %></td>
                    <td><%= record.times_add %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>No songs have been added.</p>
<% end %>
